<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ pokemon.Pokemon}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2>Catch {{ pokemon.Pokemon}}</h2>
  <ion-img src="{{pokemon.ImgURL}}"></ion-img>
  <ion-text> You caught a  {{ pokemon.Pokemon}}! <br>Make a picture of your surrounding to document the location<br></ion-text>
  <ion-button (click)="takePicture()">Open Camera</ion-button>
  <ion-img *ngIf="currentImage != null" src="{{ currentImage }}"></ion-img>

</ion-content>
